/* Menu Button */
.menu-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* position: fixed; */
  top: 2rem;
  right: 2rem;
  z-index: 1001;
  background: rgb(15, 15, 15, 0.9);
  color: white;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.menu-btn:hover {
  background: #333;
}

.menu-btn-box {
  display: flex;
  justify-content: flex-end;
}

.menu-svg {
  width: 3rem;
  height: 3rem;
}

/* Fullscreen Menu Overlay */
.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--mobile-nav-background-color);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 9999999;
  backdrop-filter: blur(0.8rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Active state */
.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Menu links */
.menu-overlay a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin: 15px 0;
  transition: color 0.3s;
}

.menu-overlay a:hover {
  color: rgb(66, 147, 200);
}

/* Close Button inside menu */
.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.menu-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
  gap: 2rem;
  margin-top: 2rem;
  animation: fadeIn 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  /* margin-top: 2rem; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(-10px); /* slightly smaller and higher */
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0); /* normal size and position */
  }
}

.menu-gallery {
  border: 1rem;
  border-radius: 0.5rem;
  position: relative;
  width: 45rem;
  height: 32rem;
  overflow: hidden;
  /* transition: all 0.3s; */
}
.menu-gallery:hover {
  transform: scale(1.01);
}

.menu-gallery video {
  border: 1rem;
  border-radius: 0.5rem;
  position: relative;
  width: 45rem;
  height: 32rem;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  display: none;
  /* transition: all 0.3s; */
}

.object-fill {
  object-fit: fill !important;
}

.menu-gallery img {
  width: 45rem;
  height: 32rem;
  object-fit: cover;
  display: none;
}

.menu-gallery:hover .arrow {
  opacity: 1;
}

.menu-gallery video.active {
  display: block;
}

.menu-gallery img.active {
  display: block;
}

.menu-gallery:hover .visit-link-menu {
  opacity: 1;
}

.visit-link-menu {
  position: absolute;
  bottom: -1.45rem;
  left: 0;
  width: 100%;
  height: 5rem;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.174);
  color: #fff;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
}

.visit-link-menu:hover {
  color: rgb(66, 147, 200);
}

.mob-menu-close-btn {
  display: none;
}

.project-info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  background-color: aliceblue;
  border-radius: 100rem;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
}

.visible {
  opacity: 1;
}

.projects-info-btn svg {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

.project-modal-window-overlay {
  background-color: rgba(21, 21, 21, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.size-6 {
  width: 3rem;
  height: 3rem;
}

.project-modal-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2.4rem 0 2.4rem;
  gap: 3rem;
  width: 70rem;
  height: 45rem;
  background-color: var(--info-modal-window);
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999999;
  transition: 0.6s all;
}

.info-modal-title {
  color: var(--heading-color);
}

.info-modal-tech-stack {
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  font-weight: 510;
  background-color: rgba(21, 21, 21, 0.04);
  border-radius: 1rem;
  padding: 1rem;
}

.info-modal-description {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 420;
  background-color: rgba(21, 21, 21, 0.03);
  border-radius: 1rem;
  padding: 2rem;
}

.hidden {
  display: none;
}

/*  */
