/* *
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights:
Default: 400
medium: 500
semi-bold: 600
bold: 700


- Line heights:
Default: 1
small: 1.05
medium: 1.2
Paragraph default: 1.6



- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- 06 BORDER-RADIUS
 Default: 9px

--- 07 WHITESPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
          */

html {
  /* font-size: 10px; */
  /* default font size - 16px */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

/* Basic */

body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  /* color: var(--text-color); */
  color: #333333;
}

input,
textarea,
select {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19pt;
  font-weight: 300;
  line-height: 1.75em;
  color: #888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450;
  color: #000;
  line-height: 1.5em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 a strong,
h2 a strong,
h3 a strong,
h4 a strong,
h5 a strong,
h6 a strong {
  color: #000;
}

h2 {
  font-size: 4.4rem;
  letter-spacing: -1px;
  color: var(--heading-color);
}

h3 {
  font-size: 1.5em;
}

header {
  margin: 0 0 2.4rem 0;
}

header > p {
  margin: 1em 0 0 0;
}

footer {
  margin: 2em 0 0 0;
}

strong,
b {
  font-weight: 300;
  color: #666;
}

em,
i {
  font-style: italic;
}

a {
  text-decoration: none;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 5.2rem;
}

br.clear {
  clear: both;
}

.content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.content.show {
  opacity: 1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(21, 21, 21);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* Spinner */
.spinner {
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #ccc;
  border-top-color: #ffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7rem;
  margin-bottom: 5rem;
  /* margin-bottom: 20rem; */
}

.about-me-header {
  margin-bottom: 7.4rem;
  /* font-weight: 500; */
  /* color: var(--heading-color); */
}

.skills-header {
  margin-bottom: 2rem;
}

.section-header {
  margin-bottom: 5.2rem;
  color: var(--heading-color);
}

.section-text {
  /* font-weight: 300; */
  font-size: 2rem;
  /* color: var(--text-color); */
  color: var(--text-color);
}

.about-me-text {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  width: 70%;
  height: 100%;

  /* color: var(--text-color); */
  color: var(--text-color);
}

.img-about-me img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.img-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 99999;
}

.img-box.active {
  visibility: visible;
  opacity: 1;
}
.img-box img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 0.8rem;
}

.project-text {
  text-align: left;
}

/* Footer */

.footer {
  text-align: center;
  background-color: var(--footer-color);
  padding: 2.2rem;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  font-size: 0.8em;
}

.footer .copyright {
  cursor: default;
  margin: 0;
}

.footer .copyright li {
  display: inline-block;
  line-height: 1em;
  border-left: solid 1px rgba(128, 128, 128, 0.35);
  padding: 0 0 0 0.5em;
  margin: 0 0 0 0.5em;
}

.footer .copyright li:first-child {
  border-left: 0;
  padding-left: 0;
  margin-left: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* scrolling visible effect */

.box {
  /* background: white; */
  /* padding: 40px; */
  /* border-radius: 12px; */
  /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */

  /* Initial hidden state */
  opacity: 0;
  transform: translateY(5rem);
  transition: all 0.8s ease-out;
}

/* When element becomes visible */
.box.show {
  opacity: 1;
  transform: translateY(0);
}

.description3,
.description4,
.skills-description,
.skills-item,
.project-description,
.project-tech-stack,
.form-label {
  color: var(--text-color);
}
