/*///////////////// THEMES ////////////////////////////*/

:root {
  --background-image-color: rgba(34, 34, 34, 0.75), rgba(34, 34, 34, 0.75);
  --background-color: #505050;
  --background-color-two: #f5fafa;
  --background-color-three: #ecf1f1;
  --background-color-four: #e8edec;
  --project-menu-background-color: rgba(215, 215, 215, 0.9);
  --mobile-nav-background-color: rgba(18, 18, 18, 0.85);
  --project-svg-color: rgba(215, 215, 215, 0.9);
  --heading-color: #333333;
  --text-color: #333333;
  --header-color: rgba(18, 18, 18, 0.9);
  --project-box-color: #f5fafade;
  --theme-btn-background-color: rgba(17, 17, 17, 0.8);
  --theme-btn-button-color: #a8adb3;
  --theme-btn-hover: #f8f9fa;
  --contact-form-border-color: #000;
  --contact-number-color: #1c7ed6;
  --footer-color: #dce3e2;
  --hero-text-color: #e1e1e1f4;
  --info-modal-window: rgba(236, 241, 241, 0.89);
  --contact-svg-color: #333333;
  --skills-item-bg-color: #e8edec;
}

.darkmode {
  --background-image-color: rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.6);
  --background-color: rgba(47, 47, 47, 0.762);
  --background-color-two: #191919;
  --background-color-three: #161616;
  --background-color-four: #181818;
  --project-menu-background-color: rgba(31, 34, 37, 0.8);
  --mobile-nav-background-color: rgba(34, 38, 41, 0.9);
  --heading-color: #e0e0e0;
  --text-color: #e0e0e0;
  --header-color: rgba(18, 18, 18, 0.9);
  --project-box-color: #1f2225f4;
  --navigation-link-color: #e7f5ff;
  --theme-btn-background-color: rgba(17, 17, 17, 0.4);
  --theme-btn-button-color: #dfe0e1;
  --theme-btn-hover: #ffe066;
  --contact-form-border-color: #fff;
  --contact-number-color: rgb(0, 179, 255);
  --footer-color: #1a1a1a;
  --hero-text-color: #fff;
  --info-modal-window: rgba(236, 241, 241, 0.9);
  --contact-svg-color: #e0e0e0;
  --skills-item-bg-color: #373737;
}

/* //////////////// HERO SLIDER TEXT /////////////////////*/
.slider-text {
  /* font-size: 3rem; */
  /* font-weight: bold; */
  /* margin: 0; */
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
  margin-left: 30rem;
  color: var(--hero-text-color);
  text-align: center;
}

.hero-text {
  margin-left: 30rem;
  color: var(--hero-text-color);
  text-align: center;
}

/* ///////////////// HEADER ////////////////////////////////////*/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--header-color) url("images/overlay.jpg");
  box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 30rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.social-media-item img {
  filter: grayscale(100%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.social-media-item img:hover {
  filter: grayscale(50%);
}
/* .header .top {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
} */

/*///////////////// LOGO ////////////////////*/

.logo {
  position: relative;
  border-radius: 1rem;
  margin: 3.2rem 1.5em 1.5em 1.5em;
  min-height: 4.8rem;
  cursor: default;
}

.logo h1 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1em;
}

.logo p {
  position: relative;
  display: block;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25em;
  margin: 0.5em 0 0 0;
}

.logo .image {
  position: absolute;
  left: 0;
  top: 0;
}

.logo img {
  border-radius: 2rem;
}
/* /////////////// */

/*////////////////////// NAVIGATION ///////////////////////////////*/

.nav {
  margin-top: 15rem;
}

.nav ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.nav ul li {
  padding-left: 0;
}

.nav ul li a {
  font-size: 1.8rem;
  display: block;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: 0;
  border: 0;
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.nav ul li a span {
  position: relative;
  display: block;
  transition: all 1s;
  /* font-size: 2rem; */
}

.nav ul li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 1.25em;
  line-height: 1.75em;
}

.nav ul li a.active {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
  color: #fff;
}

.nav ul li a.active span:before {
  color: #e27689;
}

.sidebar-navigation nav a:focus {
  color: #fff;
}
.sidebar-navigation nav a:hover,
nav .active-section {
  color: #fff;
  background-color: #3b3f438f;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 1rem;
}
.sidebar-navigation nav a:hover span,
nav ul li a.active-section {
  color: #f0f0f0;
  font-size: 2.2rem;
  transition: all 0.3s;
}

.sidebar-navigation nav a:hover {
  background-color: #35383b8f;
  font-size: 2rem;
  transition: all 0.3s;
}

/*//////////////////////// IMAGE ////////////////////////*/

.image {
  display: inline-block;
  border: 0;
}

.image img {
  display: block;
  width: 100%;
}

.image.avatar {
  width: 4.8rem;
  height: 4.8rem;
}

.image.avatar img {
  width: 4.8rem;
  height: 4.8rem;
}

.image.project {
  display: block;
  width: 100%;
}

.image.img-about-me {
  display: block;
  /* height: 38rem; */
  width: 40%;
  margin: 0 0 10rem 0;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.image.img-about-me img {
  /* height: 38rem; */
  border-radius: 1rem;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

/*/////////////////////////////////// Main //////////////////////////////////*/

.main {
  padding-left: 30rem;
}

.main.two-color {
  background-color: var(--background-color-two);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}
.main.three-color {
  background-color: var(--background-color-three);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}
.main.four-color {
  background-color: var(--background-color-four);
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
}
.main.footer-color {
  color: var(--text-color);
  background-color: var(--background-color-four);
}

.main > section {
  margin: 0;
  overflow: hidden;
  padding: 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05),
    inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  text-align: center;
  background-image: url("images/overlay.png");
}

section.cover {
  padding: 10em 0;
  background-size: cover;
  background-position: center center;
}

section.one {
  height: 100vh;
  /* background-color: var(--background-color); */
  /* background-image: url("../../images/hero.webp"); */
  background-image: linear-gradient(var(--background-image-color)),
    url(/images/bg5-min.jpg);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}

section.two {
  background-color: var(--background-color-two);
}

section.three {
  position: relative;
  background-color: var(--background-color-three);
}

section.four {
  background-color: var(--background-color-four);
}

/*/////////////////// DEVELOPER SKILLS / TOOLS ///////////////////////////////*/

.skills-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 1rem;
  padding: 1rem 3rem 1rem 0.5rem;
  background-color: var(--skills-item-bg-color);
}

.skills-item:hover {
  transform: scale(1.08);
  cursor: pointer;
  transition: all 0.3s;
}

.skills-item img {
  width: 5rem;
  height: 5rem;
}

/*///////////////////////////////// LANGUAGES FLAGS ///////////////////////////////// */

.buttons-box {
  position: fixed;
  top: 0.8rem;
  right: 0.5rem;
  /* border: 1px solid black; */
  background-color: rgba(20, 20, 20, 0.293);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  width: 11rem;
  height: 5rem;
  z-index: 999999;
}

/* .flags-box {
  position: fixed;
  background-color: rgba(20, 20, 20, 0.293);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 10rem;
  height: 10rem;
} */

.language-selector {
  position: fixed;
  right: 6.5rem;
  top: 1.85rem;
  border: none;
  cursor: pointer;
}

.main-btn img {
  height: 100%;
  width: 100%;
}
.main-btn {
  width: 4rem;
  height: 2.7rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 6px xd;
  transition: transform 0.2s;
  filter: grayscale(40%);
  background-color: transparent;
}

.main-btn:hover {
  /* transform: scale(1.05); */
  filter: grayscale(20%);
}

.main-btn img {
  width: 100%;
  height: 100%;
  filter: brightness(85%);
  object-fit: cover;
}

.flags {
  position: fixed;
  top: 5.9rem;
  /* left: 0; */
  right: 0.5rem;
  width: 11rem;
  height: 6.7rem;
  border-radius: 0.5rem 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.293);

  gap: 1rem;
  max-height: 0;
  overflow: hidden;
  filter: brightness(85%);
  transition: max-height 0.4s ease;
}

.flags.show {
  max-height: 50rem;
}

.flags button {
  width: 4rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  background: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.flags button:hover,
.flags img:hover {
  /* transform: scale(1.1); */
  filter: grayscale(0%);
}

.flags img {
  width: 100%;
  height: 100%;
  filter: grayscale(40%);
  border-radius: 0.3rem;
  object-fit: cover;

  /* border-radius: 0.8rem; */
}

/*///////////////////////////// CONTACT FORM /////////////////////////////////*/

.contact-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  gap: 2.4rem;
  margin-bottom: 15rem;
}

.contact-information a {
  color: var(--contact-form-border-color);
}
.contact-information a:hover {
  color: var(--contact-number-color);
}

.contact-svg {
  stroke: var(--contact-svg-color);
  width: 3rem;
  height: 3rem;
}

.contact-email {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.contact-email:hover {
  color: var(--contact-number-color);
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
}

.form-label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: flex-start; */
  /* gap: 0.1rem; */
}

.form-email {
  display: flex;
  justify-content: flex-start;
}

.form-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-message textarea {
  border-bottom: 0.1rem solid;
  font-size: 1.7rem;
  font-weight: 400;
  border-color: var(--contact-form-border-color);
  color: var(--text-color);
}

.form-input input,
textarea {
  /* background-color: #e8edec; */
  border: 0;
  border-bottom: 0.1rem solid;
  color: var(--text-color);
  background-color: var(--background-color-four);
  font-weight: 400;
  border-color: var(--contact-form-border-color);
  background: transparent;
  transition: border-color 0.3s;
  font-size: 1.7rem;
  width: 45rem;
  /* padding: 0 10rem; */
}

.btn-send-message {
  margin-top: 1.6rem;
}

.form-input input:focus,
textarea:focus {
  border-bottom: 1px solid #000;
  outline: none;
}

.btn-send-message {
  width: 30%;
  padding: 1.2rem;
  border: none;
  background: rgba(15, 15, 15, 0.9);
  color: #fff;
  font-size: 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
  margin-top: 2.4rem;
  transition: all 0.3s;
}

.btn-send-message:hover {
  background: #333;
}

/* /////////// MOBILE NAVIGATION /////////////////////////*/

.mobile-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: relative;
  margin: 3.2rem 1.5em 1.5em 1.5em;
  min-height: 4.8rem;
  cursor: default;
}

.mobile-developer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-logo h1 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  line-height: 1em;
}

.mobile-logo p {
  position: relative;
  display: block;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.25em;
  margin: 0.5em 0 0 0;
}

.mobile-logo .image.avatar,
.mobile-logo .image.avatar img {
  width: 15rem;
  height: 15rem;
  border-radius: 10rem;
}

/* Menu Button */
.mobile-nav-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 56rem;
  top: 0.8rem;
  left: 1rem;
  z-index: 9999;
  background: var(--mobile-nav-background-color);
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
}

.mobile-nav-btn svg {
  width: 2.4rem;
  height: 2.4rem;
}

/* Fullscreen Menu Overlay */
.mobile-nav {
  position: relative;
  display: none;
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.mobile-nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--mobile-nav-background-color);
  backdrop-filter: blur(0.3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000000;
}

/* Active state */
.mobile-nav-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Menu links */
.mobile-nav-overlay a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 1.5rem 0;
  transition: color 0.3s;
}

.mobile-nav-overlay a:hover {
  color: blue;
}

/* ////////////////////// THEME BUTTON ////////////////////////////*/
.btn-theme {
  position: fixed;
  right: 1.2rem;
  top: 1.2rem;
  border: none;
  padding: 0.8em 2em;
  background-color: var(--footer-color);
  color: white;
  border-radius: 0.4rem;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#theme-switch {
  height: 4rem;
  width: 4rem;
  padding: 0;
  border-radius: 50%;
  background-color: var(--theme-btn-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
  /* top: 20px; */
  /* right: 20px; */
}

#theme-switch svg {
  fill: var(--theme-btn-button-color);
}
#theme-switch svg:hover {
  fill: var(--theme-btn-hover);
}
#theme-switch svg:last-child {
  display: none;
}
.darkmode #theme-switch svg:first-child {
  display: none;
}
.darkmode #theme-switch svg:last-child {
  display: block;
}
